* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    background-color: #564d4d;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

// DEBUG

.debug {
    .container {
        padding: 10px;
        border: 2px solid yellow;
    }
}